body {
  all: unset;
  background: #131516;
}
/* TOASTR */
.toast-error {
  background-color: #d92f2e !important;
}

.toast-info {
  background-color: #2f96b4 !important;
}

.toast-warning {
  background-color: #f89406 !important;
}

.toast-success {
  background-color: #51a351 !important;
}
.toast {
  opacity: 1 !important;
  color: white;
  width: 300px;
  min-height: 50px;
  padding: 10px;
  margin: 10px 0;
}
#toast-container {
  position: fixed;
  min-width: 200px;
  width: 300px;
  padding: 0 10px;
  min-height: 100px;
  top: 70px;
  right: 20px;
}
